/* ------------------------------------------------
 * Media queries
 * ------------------------------------------------
 */
$mqMobilePortrait: 544;
$mqMobile: 767;
$mqTabletPortrait: 860;
$mqTablet: 1024;
$mqDesktop: 1210;

/* ------------------------------------------------
 * Colors
 * ------------------------------------------------
 */
$primary: #000000;
$black: #1A1A1A;
$surface: #F7F7F7;
$grey: #707070;